$white: #ffffff;
$black: #000000;
$light-grey: #f3f4f6;
$grey: #d1d2d4;
$dark-grey: #7a7a7a;
$light-blue: #4f5d74;
$blue: #414d5f;
$dark-blue: #374150;
$orange: #e28b00;
$orange-hover: #eb9100;
$red: #c00000;
